<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortenPy</title>
</head>

<body>

    <div id="wrap">

        <header>
            <h1>ShortenPy</h1>
        </header>
        <hr>
        <nav>
            <a href="/list">Listar</a> &nbsp;&bull;&nbsp;
            <a href="/new">Novo</a>
        </nav>
        <hr>
        <main>{% block content %}{% endblock %}</main>
        <hr>
        <footer>
            &copy; 2024 Janaina Pires
        </footer>

    </div>

</body>

</html>